body { background: #7bbee4; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 15px; display: flex; }
.block-session-0 { color: #19ec94; font-size: 19px; margin-bottom: 5px; }
.block-router-1 { color: #8bd62a; font-size: 13px; margin-bottom: 5px; }
.block-shipping-2 { color: #93d83f; font-size: 13px; margin-bottom: 5px; }
.block-uploader-3 { color: #c62851; font-size: 19px; margin-bottom: 5px; }
.block-sms-4 { color: #a7e519; font-size: 17px; margin-bottom: 5px; }